
:root {
  background-color: white !important;
}

html, body {
  background-color: white ;
}

.transition {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.transition:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.sidebar-icon {

  display: flex;
  border: 2px solid grey; border-radius: 10px;
  align-items: center;
  padding: 5px 50px 5px 50px;

}
