<div class="cv-card">

  <div class="cv-header">
    <div class="header-avatar">
      <img src="https://www.gravatar.com/avatar/HASH" alt="Avatar">
    </div>

    <div class="header-detail-info">
      <p class="header-component">{{ object.header.full_name }}</p>
      <p class="header-component">{{ object.header.position }}</p>
      <p class="header-component">
        <a href="{{ object.header.linkedin_url }}" target="_blank">{{ object.header.linkedin_url }}</a>
      </p>
    </div>
  </div>

  <div class="cv-body">
    {{ object }}
  </div>
</div>
