# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Poetry cache
.poetry/

# Django stuff
*.sqlite3
media/
*.log

# OS / IDE
.DS_Store
*.swp
.idea/
.vscode/

# Environment files
.env
.env.*

